@import url('https://unpkg.com/leaflet@1.0.3/dist/leaflet.css');

@import './vars.scss';
@import './helpers.scss';

// components
@import './leaflet-map.scss';
@import './infobox.scss';
@import './legend.scss';
@import './searchbox.scss';
@import './stype-badge.scss';
@import './reset-control.scss';
@import './multi-bars.scss';

// base layout
.cor-viz-st {

  &__map-container {
    display: block;
    width: 100%;

    @media (min-width: $screen-sm) {
      width: 70%;
      float: left;
    }
  }

  &__info-container {
    // position: relative;
    padding-top: 20px;
    display: block;
    width: 100%;

    @media (min-width: $screen-sm) {
      float: left;
      width: 30%;
      padding-top: 0px;
      padding-left: 20px;
    }
  }

}


.figure__credits {
  clear: both;
  margin-top: 14px;
  color: #9c9c9c;
  font-size: 14px;
  line-height: 1.4;

  a {
    border: none;
    text-decoration: underline;
    color: inherit;
  }

  &>p:first-of-type:before {
    // remove icon
    content: '';
    padding: 0;
  }
}
