.cor-viz-st {

  &__infobox-data {
    font-size: 15px;

    dt {
      padding-top: .7em;
      font-size: 20px;
      line-height: 1em;
      font-family: $font-neuzeit;
      font-weight: bold;
    }

    dd {
      font-weight: normal;
      line-height: 1em;
    }

  }

}
