.cor-viz-st__legend {

  @media (min-width: $screen-sm) {
    position: absolute;
    bottom: 0px;
    left: 70%;
    padding-left: 20px;
  }

  &-list {
    margin: 0;
    padding: 0;
  }

  &-item {
    display: inline;
  }
}
