$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$hilight-color: #c81455;
$circle-opacity: .4;

// standorttypen colors
$color-s1: green;
$color-s2: blue;
$color-s3: yellow;
$color-s4: brown;
$color-s5: red;

// typo
$font-neuzeit: 'Neuzeit','Helvetica','Arial',sans-serif;
